<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <h2>
    {{title}}
  </h2>

  <div class="row">
    <div class="col-md-2 calendar">
      <p-calendar [(ngModel)]="dt" ng-value="" dateFormat="yy-mm-dd" (onSelect)="removeValidation($event)"></p-calendar>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-success" (click)="getAllData()" [class.disabled]="dataLoading">Get Data
        <i class="fa fa-refresh fa-spin" *ngIf="dataLoading"></i>
      </button>
    </div>
  </div>
  <div class="row results">
    <div class="col-md-12">
      <div *ngFor="let obj of footballData">{{obj.league}} - {{obj.homeTeam}} {{obj.homeScore}}:{{obj.awayScore}} {{obj.awayTeam}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
  </div>
</div>