.validation{
    color: red;
}

.body{
    font-family: sans-serif;
}

.rowWithPadding{
    margin-top: 10px;
}

.calendar{
    padding-top: 2px;
}

.btn-success, .btn-success:hover{
    border :none;
}